@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBanMayAnh.Models.Customer>
@{
    int currentPage = ViewBag.CurrentPage;  

    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            @*<a class="breadcrumb-item" href="#">Apps</a>*@
            <span class="breadcrumb-item active">Danh sách Khách hàng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 200px;" asp-items="ViewBag.QuyenTruyCap">
                            <option value="" disabled selected>Chọn quyền truy cập</option>

                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 200px;" asp-items="ViewBag.lsStatus">
                            <option value="" disabled selected>Chọn quyền truy cập</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">

            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ Tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Tỉnh/Thành</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.CustomerID
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="~/assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.FullName</h6>
                                    </div>
                                </td>

                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>
                                    @item.Location.Name
                                </td>
                                <td class="text-right">
                                    <a asp-action="Details" asp-controller="AdminCustomers" asp-area="Admin" asp-route-id="@item.CustomerID" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-info"></i>
                                    </a>
                                    <a asp-action="Edit" asp-controller="AdminCustomers" asp-area="Admin" asp-route-id="@item.CustomerID" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a asp-action="Delete" asp-controller="AdminCustomers" asp-area="Admin" asp-route-id="@item.CustomerID" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>
