@model WebBanMayAnh.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <div class="post-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Index" class="breadcrumb-item">Danh sách Post</a>
                <span class="breadcrumb-item active">Chi tiết Post</span>
            </nav>
        </div>
    </div>

    <div class="post-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img src="~/images/post/@Model.Thumb" alt="">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">@Model.Title</h4>
                    <p class="text-muted m-b-0">Code: @Model.Title</p>
                </div>
            </div>
            <div class="m-b-15">
                <a asp-action="Edit" asp-controller="AdminPosts" asp-area="Admin" asp-route-id="@Model.PostID" class="btn btn-primary">
                    <i class="anticon anticon-edit"></i>
                    <span>Edit</span>
                </a>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-overview">Chi tiết Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-images">Hình ảnh Post</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-overview">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin cơ bản</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Tiêu đề bài viết :</td>
                                        <td class="text-dark font-weight-semibold">@Model.Title</td>
                                    </tr>
                                    <tr>
                                        <td>Alias:</td>
                                        <td>@Model.Alias </td>
                                    </tr>
                                    <tr>
                                        <td>Trạng thái:</td>
                                        @if (Model.Published)
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-cyan">Public</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill   badge-warning">Block</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Bài viết HOT:</td>
                                        @if (Model.IsHot)
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-cyan">HOT</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill   badge-warning">Non-HOT</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Bài viết mới:</td>
                                        @if (Model.Published)
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-cyan">New</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill   badge-warning">Non-New</span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Ngày tạo:</td>
                                        <td>@Model.CreatedDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nội dung ngắn</h4>
                    </div>
                    <div class="card-body">
                        @Html.Raw(@Model.SContents)
                    </div>
                    <div class="card-header">
                        <h4 class="card-title">Nội dung Post</h4>
                    </div>
                    <div class="card-body">
                        @Html.Raw(@Model.Contents)
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/images/post/@Model.Thumb" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>