@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBanMayAnh.Models.Page>
@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-controller="Home" asp-action="Index" asp-area="Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            @*<a class="breadcrumb-item" href="#">Apps</a>*@
            <span class="breadcrumb-item active">Danh sách Page</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">

            </div>
            <div class="col-lg-4 text-right">
                <a asp-controller="AdminPages" asp-action="Create" asp-area="Admin" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Tạo mới Page</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Page</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.PageID
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        @*<img class="img-fluid rounded" src="~/assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">*@
                                        <h6 class="m-b-0 m-l-10">@item.PageName</h6>
                                    </div>
                                </td>
                                <td>
                                    @if (item.Published)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Active</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div>Block</div>
                                        </div>
                                    }
                                </td>
                                <td class="text-right">
                                    <a asp-action="Details" asp-controller="AdminPages" asp-area="Admin" asp-route-id="@item.PageID" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-info"></i>
                                    </a>
                                    <a asp-action="Edit" asp-controller="AdminPages" asp-area="Admin" asp-route-id="@item.PageID" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded m-r-5" data-toggle="modal" data-target="#myModal" data-id=@item.PageID>
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Xóa thông tin</h5>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <i class="anticon anticon-close"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body"style="text-align:left">
                                                    Bạn có muốn xóa <b>@item.PageName</b> không ?
                                                </div>
                                                <div class="modal-footer">
                                                    <form asp-controller="AdminPages" asp-action="Delete" asp-route-id=@item.PageName method="post" class="form-inline" role="form">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                                                        &nbsp;&nbsp;&nbsp;
                                                        <button type="submit" class="btn btn-primary">Xóa</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminPages" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

    $(document).ready(function () {
        loadPartial();
        $("#ddlCategory").change(loadPartial);
    });

    function loadPartial() {
        var companyID = $("#ddlCategory").val();
        var displayPaid = $("#chkDisplayPaid").is(':checked');
        var url = '@(Url.Action("Index", "AdminPages", null, null ))?PageID=' + companyID + '&displayPaid=' + displayPaid;
        $("#InvoiceList").load(url);
    }
    </script>
}