@model IEnumerable<WebBanMayAnh.Models.Product>

@{

    List<Product> listProductSale = ViewBag.lisProductSale;
    List<Product> listProductNew = ViewBag.listProductsNew;
    List<Post> listPostNew = ViewBag.newPost;
    var productSale = listProductSale[0];
}


<!-- Begin Slider Area -->
<div class="slider-area">

    <!-- Main Slider -->
    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/1-1.jpg">
                    <div class="parallax-img-wrap">
                        <div class="chilly">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img width="231" height="210" src="assets/images/slider/inner-img/mayanh5.png" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                        <div class="avocado">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.5">
                                    <img width="224" height="204" src="assets/images/slider/inner-img/mayanh5.png" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <span style="color:orangered" class="sub-title mb-3">Ưu đãi ngày vàng</span>
                                <h2 class="title mb-9">-40% Offer All <br> Sản Phẩm.</h2>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="parallax-img-wrap">
                                <div class="tomatoes">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img width="601" height="504" src="assets/images/slider/inner-img/mayanh4.png" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="assets/images/slider/bg/1-1.jpg">
                    <div class="parallax-img-wrap">
                        <div class="chilly">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img width="231" height="210" src="assets/images/slider/inner-img/mayanh5.png" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                        <div class="avocado">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.5">
                                    <img width="224" height="204" src="assets/images/slider/inner-img/mayanh5.png" alt="Inner Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="parallax-with-content">
                            <div class="slide-content">
                                <span class="sub-title mb-3">Natural & Organic</span>
                                <h2 class="title mb-9">-40% Offer All <br> Products.</h2>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="shop.html">Shop Now</a>
                                </div>
                            </div>
                            <div class="parallax-img-wrap">
                                <div class="tomatoes">
                                    <div class="scene fill">
                                        <div class="expand-width" data-depth="0.5">
                                            <img width="601" height="504" src="assets/images/slider/inner-img/mayanh4.png" alt="Inner Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination with-bg d-md-none"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</div>
<!-- Slider Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <i class="fa fa-truck" style="color: #bac34e; font-size: 60px;"></i>
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Miễn phí vận chuyển</h5>
                        <p class="short-desc mb-0">Miễn phí vận chuyển đơn từ 0 đồng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <i class="fa fa-comments" style="color: #bac34e; font-size: 60px;"></i>
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Hỗ trợ trực tuyến</h5>
                        <p class="short-desc mb-0">Hỗ trợ trực tuyến 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        @*<img src="assets/images/shipping/icon/shield.png" alt="Shipping Icon">*@
                        <i class="fa fa-credit-card" style="color: #bac34e; font-size: 60px;"></i>
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Bảo mật thanh toán</h5>
                        <p class="short-desc mb-0">Hệ thống thanh toán bảo mật</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
<!-- Begin Product Area -->
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <img src="~/images/imgHome/brand-1.png">
                    </li>
                    <li class="nav-item" role="presentation">
                        <img src="~/images/imgHome/brand-2.png">
                    </li>
                    <li class="nav-item" role="presentation">
                        <img src="~/images/imgHome/brand-3.png">
                    </li>
                    <li class="nav-item" role="presentation">
                        <img src="~/images/imgHome/brand-4.png">
                    </li>
                    <li class="nav-item" role="presentation">
                        <img src="~/images/imgHome/brand-5.png">
                    </li>
                    <li class="nav-item" role="presentation">
                        <img src="~/images/imgHome/brand-6.png">
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all-items" role="tabpanel" aria-labelledby="all-items-tab">
                        <div class="product-item-wrap row">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-3 col-sm-6 pt-6">
                                    <div class="product-item">
                                        <div class="product-img img-zoom-effect">
                                            <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductID">
                                                <img class="img-full" src="~/images/product/@item.Thumb" width="270" height="300" alt="@item.ProductName">
                                            </a>
                                            <div class="product-add-action">
                                                <ul>
                                                    <li>
                                                        <a href="cart.html">
                                                            <i class="pe-7s-cart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="compare.html">
                                                            <i class="pe-7s-shuffle"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="wishlist.html">
                                                            <i class="pe-7s-like"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductID">@item.ProductName</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">@item.Price.ToString("#,##" + " VNĐ")</span>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Banner Area -->


<div class="banner-area section-space-top-100">
    <div class="container">
        <div class="row">
            @if (listProductSale.Count > 0)
            {
                foreach (var item in listProductSale)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="banner-item">
                            <div class="banner-img img-zoom-effect">
                                <img class="img-full" src="~/images/product/@item.Thumb" width="370" height="250" alt="Banner Image">
                                <div class="inner-content">
                                    <h5 style="color:white" class="offer">-@item.Discount Off</h5>
                                    <h4 style="color:aqua" class="title mb-5">@item.ProductName</h4>
                                    <div class="button-wrap">
                                        <a class="btn btn-primary btn-white-hover rounded-0" href="shop.html">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>


<!-- Banner Area End Here -->
<!-- Begin Product Area -->
<div class="product-area section-space-y-axis-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <span class="sub-title text-primary">Sản phẩm mới nhất</span>
            <h2 class="title mb-0">Sản phẩm liên quan</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container product-slider swiper-arrow with-radius border-issue">
                    <div class="swiper-wrapper">
                        @if (listProductNew != null && listProductNew.Count > 0)
                        {
                            foreach (var item in listProductNew)
                            {
                                <div class="swiper-slide">
                                    <div class="product-item">
                                        <div class="product-img img-zoom-effect">
                                            <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductID">
                                                <img class="img-full" src="~/images/product/@item.Thumb" width="270" height="300" alt="Product Images">
                                            </a>
                                            <div class="product-add-action">
                                                <ul>
                                                    <li>
                                                        <a href="cart.html">
                                                            <i class="pe-7s-cart"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="compare.html">
                                                            <i class="pe-7s-shuffle"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="wishlist.html">
                                                            <i class="pe-7s-like"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductID">@item.ProductName</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">@item.Price.ToString("#,##0" + " VNĐ")</span>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                    <li><i class="pe-7s-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-nav-wrap">
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Banner Area -->
<div class="banner-area banner-with-parallax py-10" data-bg-image="assets/images/banner/2-1-1920x523.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="parallax-img-wrap">
                    <div class="papaya">
                        <div class="scene fill">
                            <div class="expand-width" data-depth="0.2">
                                <img src="~/images/product/@productSale.Thumb" width="503" height="414" alt="Banner Images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 align-self-center" style="color:black">
                <div class="banner-content text-white text-center text-md-start">
                    <div class="section-title">
                        <span class="sub-title">Sản phẩm giảm giá</span>
                        <h2 class="title font-size-50 mb-6">Giảm giá tới @productSale.Discount &nbsp;% </h2>
                    </div>
                    <div class="countdown-wrap">
                        <div class="countdown item-4" data-countdown="2022/01/01" data-format="short">
                            <div class="countdown__item me-3">
                                <span class="countdown__time daysLeft"></span>
                                <span class="countdown__text daysText"></span>
                            </div>
                            <div class="countdown__item me-3">
                                <span class="countdown__time hoursLeft"></span>
                                <span class="countdown__text hoursText"></span>
                            </div>
                            <div class="countdown__item me-3">
                                <span class="countdown__time minsLeft"></span>
                                <span class="countdown__text minsText"></span>
                            </div>
                            <div class="countdown__item">
                                <span class="countdown__time secsLeft"></span>
                                <span class="countdown__text secsText"></span>
                            </div>
                        </div>
                    </div>
                    <div class="button-wrap pt-10">
                        <a class="btn btn-custom-size lg-size btn-white rounded-0" href="shop.html">Mua ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End Here -->
<!-- Begin Blog Area -->
<div class="blog-area section-space-y-axis-100">
    <div class="container">
        <div class="section-title text-center pb-55">
            <span class="sub-title text-primary">Tin tức của bạn</span>
            <h2 class="title mb-0">Tin tức mới</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="swiper-container blog-slider">
                    <div class="swiper-wrapper">
                        @if (listPostNew != null)
                        {
                            foreach (var item in listPostNew)
                            {
                                <div class="swiper-slide">
                                    <div class="blog-item">
                                        <div class="blog-img img-zoom-effect">
                                            <a href="blog-detail-left-sidebar.html">
                                                <img class="img-full" src="~/images/post/@item.Thumb" width="370" height="315" alt="Blog Image">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <div class="blog-meta text-dim-gray pb-3">
                                                <ul>
                                                    <li class="date"><i class="fa fa-calendar-o me-2"></i>@item.CreatedDate.ToString("dd/MM/yyyy")</li>
                                                    <li>
                                                        <span class="comments me-3">
                                                            <a href="javascript:void(0)">2 Bình luận</a>
                                                        </span>
                                                        <span class="link-share">
                                                            <a href="javascript:void(0)">Chi sẻ</a>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h5 class="title mb-4">
                                                <a href="blog-detail-left-sidebar.html">@item.SContents</a>
                                            </h5>
                                            <div class="button-wrap">
                                                <a class="btn btn-custom-size btn-dark btn-lg rounded-0" asp-controller="Blog" asp-action="Details" asp-route-id="@item.PostID">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End Here -->