@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBanMayAnh.Models.Role>
@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 200px;" asp-items="ViewBag.QuyenTruyCap">
                            <option value="" disabled selected>Chọn quyền truy cập</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 200px;" asp-items="ViewBag.lsStatus">
                            <option value="" disabled selected>Trạng thái truy cập</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary"  asp-area="Admin" asp-action="Create" asp-controller="AdminRoles">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm quyền truy cập</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.RoleID</th>
                            <td>@item.RoleName</td>
                            <td>@item.Description</td>
                            <td>
                                <a asp-action="Details" asp-controller="AdminRoles" asp-area="Admin" asp-route-id="@item.RoleID" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-info"></i>
                                </a>
                                <a asp-action="Edit" asp-controller="AdminRoles" asp-area="Admin" asp-route-id="@item.RoleID" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                    <i class="anticon anticon-edit"></i>
                                </a>  <a class="btn btn-icon btn-hover btn-sm btn-rounded m-r-5" data-toggle="modal" data-target="#myModal" data-id=@item.RoleID>
                                    <i class="anticon anticon-delete"></i>
                                </a>   <!-- Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xóa thông tin</h5>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    <i class="anticon anticon-close"></i>
                                                </button>
                                            </div>
                                            <div class="modal-body" style="text-align:left">
                                                Bạn có muốn xóa <b>@item.RoleName</b> không ?
                                            </div>
                                            <div class="modal-footer">
                                                <form asp-controller="AdminRoles" asp-action="Delete" asp-route-id=@item.RoleID method="post" class="form-inline" role="form">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                                                    &nbsp;&nbsp;&nbsp;
                                                    <button type="submit" class="btn btn-primary">Xóa</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


<div aria-label="Page navigation example">
    <ul class="pagination">
        <pager class="page-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" />
    </ul>
</div>

@section Scripts{
    <script type="text/javascript">

    $(document).ready(function () {
        loadPartial();
        $("#ddlCategory").change(loadPartial);
    });

    function loadPartial() {
        var companyID = $("#ddlCategory").val();
        var displayPaid = $("#chkDisplayPaid").is(':checked');
        var url = '@(Url.Action("Index", "AdminRoles",null, null ))?RoleID=' + companyID + '&displayPaid=' + displayPaid;
        $("#InvoiceList").load(url);
    }
    </script>
}